@font-face {
    font-family: 'quicksilver_fastregular';
    src: url('../fonts/quicksilverfastregular-do3oe-webfont.woff2') format('woff2'),
         url('../fonts/quicksilverfastregular-do3oe-webfont.woff') format('woff');  
}
@font-face {
    font-family: 'bomber_escortregular';
    src: url('../fonts/bomberescort-x3ld0-webfont.woff2') format('woff2'),
         url('../fonts/bomberescort-x3ld0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('../imgs/background.png');
    color: #FFFFFF;
}

.content {
    height: 100vh;
}

/* -------- SEKCIE -------- */
.nav-status {
    height: 10%;
}

.skuska-grid {
    height: 85%;
}

.footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #000000;
    
}

/* -------- NAVBAR -------- */

.nav-box {
    display: flex;
    flex-direction: row;
}

.nav-nadpis {
    text-align: center;
    margin: 1%;
    padding: 1%;
    width: 20%;
    font-size: 1.5rem;
    font-family: 'bomber_escortregular';
    letter-spacing: 5px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.status-box {
    width: 30%;
    padding: 2% 0;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.status-box .status h3 {
    margin-right: 10%;
    font-family: 'bomber_escortregular';
    letter-spacing: 5px;
    font-size: 1.5rem;
}

.status-box .status p {
    text-align: center;
    font-family: 'bomber_escortregular';
    margin: auto;
}

.status-box button {
    border: none;
    background: none;
    border: 2px solid #ff4c29;
    color: #ff4c29;
    font-weight: 700;
    padding: 1%;
    margin-right: 5%;
}

.status-box button:active {
    background-color: #ff4c29;
    color: #000000;
}

/* -------- DRONSTATUS -------- */

.dron-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.status {
    display: flex;
}

.status h3 {
    margin: 0 1%;
}
/* -------- BATERKA -------- */

.baterka-box {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baterka {
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    margin-left: 20%;
    margin-right: 5%;
}

.baterka p {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;   
}
/* -------- DLASIE-DRON-INFO -------- */
.dalsie-dron-info {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dron-status-hlavne {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dron-status-hlavne .block {
    width: 50%;
    margin: 2%;
}

.dron-status-hlavne h3 {
    text-align: left;
    color: #ff4c29;
    font-size: 2rem;
    margin: 2%;
}

.dron-status-hlavne h3 span{
    color: #FFFFFF;
    font-weight: 100;
    
}

.dron-status-vedlajsie {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2% 0;
}

.dron-status-vedlajsie .block{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.dron-status-vedlajsie .block .block{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.dron-status-vedlajsie .block .block p {
    margin: 2% 0;
    text-align: left;
    width: 100%;
}

/* -------- TLACITKA -------- */

.dron-commands .button-box {
    height: 103px;
    width: 103px;
    margin: 1%;
    border: 3px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.dron-tricks .button-box {
    
    height: 80px;
    width: 80px;
    margin: 1%;
    border: 3px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.dron-commands p {
    font-size: 95%;
    text-align: center;
}

.dron-tricks p {
    font-size: 80%;
    text-align: center;
}

/*
.button-box {
    width: 103px;
    height: 103px;
    margin: 1%;
    border: 3px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}*/

.button-nadpis{
    text-align: center;
    width: 100%;
    padding: 10% 5%;
}

.button-ciarka {
    height: 0;
    width: 50%;
    border-bottom: 2px solid #FFFFFF;
}

.button-tlacitko {
    text-align: center;
    width: 100%;
    padding: 10%;
}

.button-nadpis,.button-tlacitko p {
    font-size: 80%;
}


/* -------- TLACITKA COMMANDS -------- */

.dron-commands {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dron-commands .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dron-commands .riadok {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dron-tricks {
    height: 100%;
}

.dron-tricks .riadok {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -------- TLACITKO START STOP -------- */

.button-start-stop {
    width: 103px;
    height: 103px;
    margin: 1%;
    background-color: #ff4c29;
    
}

.button-start-stop .button-box {
    width: 100%;
    height: 50%;
    color: #000000;
    border: 3px solid #000000;
    margin: 0;
    padding: 0;
}

.button-start-stop .button-ciarka {
    border-bottom: 2px solid #000000;
}

.button-start-stop .button-nadpis, .button-start-stop .button-tlacitko {
    padding: 0;
}
/* -------- ORANGE BUTTONS -------- */
.dron-commands .orange-button-box {
    height: 103px;
    width: 103px;
    margin: 1%;
    border: 3px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #ff4c29;
}

.dron-tricks .orange-button-box {
    height: 80px;
    width: 80px;
    margin: 1%;
    border: 3px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #ff4c29;
}

.orange-button-box .button-ciarka {
    height: 0;
    width: 50%;
    border-bottom: 2px solid #000000;
}

/* -------- TLACITKA TRICKS -------- */

/* -------- INFO -------- */

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1 {
    font-family: 'bomber_escortregular';
    letter-spacing: 5px;
    width: 100%;
    margin: 0 0 5% 0;
    color: #ff4c29;
    font-size: 2rem;
}

.info p {
    width: 80%;
    text-align: left;
    margin-bottom: 1%;
}

/* -------- GRID -------- */

.skuska-grid {
    text-align: center;
    display: grid;
    grid-template:
    "dron-status dron-status dron-status dron-commands dron-commands"
    "dron-info dron-info dron-tricks dron-commands dron-commands";
    grid-gap: 10px;
    grid-template-columns: 20fr 20fr 20vw 20vw 10vw;
}

.skuska-grid .item1 {
    grid-area: dron-status;
}

.skuska-grid .item2 {
    grid-area: dron-commands;
}

.skuska-grid .item3 {
    grid-area: dron-info;
}

.skuska-grid .item4 {
    grid-area: dron-tricks;
}



/* -------- FOOTER -------- */

.footer p {
    color: #FFFFFF;
    width: 100%;
    margin-right: 100px;
    
    font-family: 'bomber_escortregular';
}