* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* -------- NAVBAR -------- */

.nav-box {
    display: flex;
    flex-direction: row;
}

.nav-nadpis {
    padding: 1%;
    margin: 1%;
    width: 20%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.nav-links a {
    padding: 1%;
    margin: 0 5%;
    text-decoration: none;
}

/* -------- STATUS -------- */

.status {
    display: flex;
}

.status h3 {
    margin: 0 1%;
}

/* -------- BATERKA -------- */

.baterka-box {
    width: 150px;
    height: 200px;
}

.baterka {
    background-color: green;
    width: 100%;
    height: 100%;
    margin: 5%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
}

.baterka p {
    color: #FFFFFF;   
}